Repository moussebathily/afrikoin-vibes-connect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @afrikoin-team, @afrikoin-team/frontend, @afrikoin-team/mobile, @afrikoin-team/backend, @afrikoin-team/ai, @afrikoin-team/devops, @afrikoin-team/security, @afrikoin-team/payments, @afrikoin-team/i18n, @afrikoin-team/core, @afrikoin-team/documentation

.github/CODEOWNERS:

# AfriKoin Code Owners
# This file defines who should review changes to specific parts of the codebase

# Global owners - require approval for any changes
* @afrikoin-team

# Frontend Application
/src/ @afrikoin-team/frontend
/src/components/ @afrikoin-team/frontend
/src/pages/ @afrikoin-team/frontend
/src/contexts/ @afrikoin-team/frontend

# Mobile Configuration
/android/ @afrikoin-team/mobile
/capacitor.config.ts @afrikoin-team/mobile
/vite.config.ts @afrikoin-team/mobile @afrikoin-team/frontend

# Backend & Supabase
/supabase/ @afrikoin-team/backend
/src/integrations/supabase/ @afrikoin-team/backend

# AI Features
/src/components/ai/ @afrikoin-team/ai
/supabase/functions/ai-* @afrikoin-team/ai @afrikoin-team/backend

# DevOps & Deployment
/.github/ @afrikoin-team/devops
/scripts/ @afrikoin-team/devops
/Dockerfile* @afrikoin-team/devops
/vercel.json @afrikoin-team/devops
/cloudbuild.yaml @afrikoin-team/devops

# Security & Authentication
/src/contexts/AuthContext.tsx @afrikoin-team/security @afrikoin-team/backend
/supabase/functions/verify-* @afrikoin-team/security @afrikoin-team/backend

# Payment Integration
/src/pages/PaymentSuccessPage.tsx @afrikoin-team/payments @afrikoin-team/backend
/supabase/functions/*checkout* @afrikoin-team/payments @afrikoin-team/backend
/supabase/functions/verify-like-payment/ @afrikoin-team/payments @afrikoin-team/backend

# Internationalization
/src/i18n/ @afrikoin-team/i18n
/src/components/ui/language-selector.tsx @afrikoin-team/i18n

# Configuration Files
/package.json @afrikoin-team/devops @afrikoin-team/core
/tsconfig*.json @afrikoin-team/core
/tailwind.config.ts @afrikoin-team/frontend @afrikoin-team/core
/eslint.config.js @afrikoin-team/core

# Documentation
/README.md @afrikoin-team/core
/CONTRIBUTING.md @afrikoin-team/core
/*.md @afrikoin-team/documentation

Add files via upload
  etapedegenerationapk.txt
Owners: @afrikoin-team

Create android-build.yml
  .github/workflows/android-build.yml
Owners: @afrikoin-team/devops

Create Script PowerShell (Windows) : build-android.ps1
  Script PowerShell (Windows) : build-android.ps1
Owners: @afrikoin-team

Create WSL) : build-android.sh
  Script Bash (Linux/macOS/WSL) : build-android.sh
Owners: @afrikoin-team

Add files via upload
  realtime-chat-supabase-react-master.zip
Owners: @afrikoin-team

Add files via upload
  afrikoin-vibes-connect-auto-fix.zip
Owners: @afrikoin-team

Add files via upload
  gradle-wrapper-8.7.zip
Owners: @afrikoin-team

Add files via upload
  Configuration des ABI dans Android Studio.md
Owners: @afrikoin-team/documentation

Add GitHub Actions workflow for building AAB
  build.yml pour GitHub Actions :
Owners: @afrikoin-team

Add GitHub Actions for AAB upload and notification
  fichier .aab
Owners: @afrikoin-team

Add project structure for Docker setup
  Structure docker
Owners: @afrikoin-team

Add Dockerfile for frontend application setup
  frontend/Dockerfile
Owners: @afrikoin-team

Add Dockerfile for Node.js application
  backend/Dockerfile
Owners: @afrikoin-team

Add Dockerfile for AI service setup
  ai-service/Dockerfile
Owners: @afrikoin-team

Add initial docker-compose configuration for services
  docker-compose.yml.
Owners: @afrikoin-team

Add docker compose command to root
  Dans la racine docker
Owners: @afrikoin-team

Add environment configuration variables
  env
Owners: @afrikoin-team

Add build and prune command to Next.js
  Next.js
Owners: @afrikoin-team

Add Dockerfile for optimized Next.js application
  Next.js optimisé
Owners: @afrikoin-team

Add Dockerfile for optimized Node.js backend
  Backend Node.js (optimisé)
Owners: @afrikoin-team

Add Dockerfile for FastAPI application
  Python AI (FastAPI
Owners: @afrikoin-team

Add Nginx configuration for proxying requests
  nginx/default.conf
Owners: @afrikoin-team

Add docker-compose file for multi-service setup
  docker-compose PRO
Owners: @afrikoin-team

Add Docker installation commands to Installer
  Installer Docker
Owners: @afrikoin-team

Add instructions to clone and navigate to repository
  Cloner  projet
Owners: @afrikoin-team

Install SSL using Certbot with Nginx
  Installe SSL avec Certbot
Owners: @afrikoin-team

Add GitHub Actions workflow for app deployment
  .github/workflows/deploy.yml
Owners: @afrikoin-team/devops

Initialize Supabase client in backend
  connexion backend
Owners: @afrikoin-team

Add Supabase configuration to env file
  env (IMPORTANT)
Owners: @afrikoin-team

Add new Supabase migration commands
  migration Supabase
Owners: @afrikoin-team

Add GitHub Actions workflow for staging deployment
  github/workflows/staging.yml
Owners: @afrikoin-team

Add GitHub Actions workflow for production deployment
  github/workflows/github/workflows/production.yml
Owners: @afrikoin-team

fix: align date-fns version with react-day-picker peer deps
  package.json
Owners: @afrikoin-team/devops, @afrikoin-team/core

docs: corrige la phrase sur les méthodes de déploiement
  README-VERCEL.md
Owners: @afrikoin-team/documentation

fix: restore date-fns version to match lockfile and unblock npm ci
  package.json
Owners: @afrikoin-team/devops, @afrikoin-team/core

Fix runtime conflicts and add automated GCP Cloud Run deployment
  .github/workflows/deploy-gcp-cloud-run.yml
  Dockerfile
  README-DEPLOY.md
  cloudbuild.yaml
  server.cjs
  server.js
Owners: @afrikoin-team/devops, @afrikoin-team/documentation, @afrikoin-team

Remove Gradle publish workflow file
  .github/workflows/gradle-publish.yml
Owners: @afrikoin-team/devops

docs: Add comprehensive Supabase migration guide
  SUPABASE_MIGRATION_GUIDE.md
Owners: @afrikoin-team/documentation

feat: Add initial database schema migrations for Supabase
  supabase/migrations/001_initial_schema.sql
Owners: @afrikoin-team/backend

feat: Add Row Level Security policies for all tables
  supabase/migrations/002_rls_policies.sql
Owners: @afrikoin-team/backend
